/* import link for google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Red+Hat+Display:wght@500;700;900&display=swap');
/* universal selector styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    align-items: center;

    font-family: 'Red Hat Display', sans-serif;
}
p{
    opacity: 0.7;
}
main{
    text-align: center;
    border: 1px solid #fff;
    background: #fff;
    width: 452px;
}

/* media query styling here */
@media (max-width: 375px){
    body{
        background: url(./images/pattern-background-mobile.svg);
    }
}
.plan-box {
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}

.plan-box-left {
    display: flex;
    align-items: center;
    text-align: left;
}

.plan-box-left div {
    margin-left: 20px;
}

.plan-box-left div h5 {
    font-weight: 900;
    font-size: 15px;
    color: hsl(223, 47%, 23%);
}

.plan-box-left div p {
    font-size: 14px;
    color: #8a8a8a;
}

.plan-box a {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    transition: color .3s ease;
}

.plan-box a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 52%);
}
